#presentable-icon-close {
	position: absolute;
	top: 15px;
	right: 15px;
}

.icon-button {
	border-radius: 1.8rem;
	cursor: pointer;
	display: inline-block;
	font-size: 0.9rem;
	height: 1.8rem;
	line-height: 1.8rem;
	margin: 0 2px;
	position: relative;
	text-align: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	width: 1.8rem;
}

.icon-button.facebook {
	background-color: #3B5998;
}

.icon-button.github {
	background-color: #24292E;
}

/* Circle */
.icon-button span {
	border-radius: 0;
	display: block;
	height: 0;
	left: 50%;
	margin: 0;
	position: absolute;
	top: 50%;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	width: 0;
}

.icon-button:hover.facebook span {
	width: 1.8rem;
	height: 1.8rem;
	border-radius: 1.8rem;
	margin: -0.9rem;
}

.icon-button:hover.github span {
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 1.5rem;
	margin: -0.7rem;
}

.facebook span {
	background-color: white;
}

.github span {
	background-color: white;
}

/* Icons */
.icon-button i {
	background: none;
	height: 1.8rem;
	left: 0;
	line-height: 1.8rem;
	position: absolute;
	top: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	width: 1.8rem;
	z-index: 10;
}

.icon-button .fa-facebook {
	font-size: 1.2rem;
	color: white;
}

.icon-button:hover .fa-facebook {
	color: #3B5998;
}

.icon-button .fa-github {
	font-size: 1.95rem;
	color: white;
}

.icon-button:hover .fa-github {
	color: #24292E;
}

.blue {
	color: #3F8FD6;
}

.purple {
	color: #BD63C5;
}

.red {
	color: rgb(211, 76, 76);
}

.dark {
	color: #1e1e1e;
}

.code_back {
	background: #3f3f3f;
	padding: 4px;
}

.turquoise {
	color: #4EC9B0;
}

.light-blue {
	color: #92CAF4;
}

.flex {
	display: flex;
	flex-flow: row nowrap; 
}

.separator {
	min-width: 10px;
	cursor: col-resize;
}
.separator:hover {
	background-color: rgba(60, 60, 60, .7);
}
.c1 {
	flex: 1;
	max-width: 50%;
}

.c2 {
	flex: 2 1 50%;
}

.c3 {
	flex: 3;
}

div.reveal {
	font-size: 30px;
}
.reveal .flex pre {
	width: 100%;

}

table.centred-table td {
	vertical-align: middle;
	border: none;
}

.no-border {
	border: unset !important;
}

.no-shadow {
	box-shadow: unset !important;
}

.color-1 {
	color: #405a45;
}
.color-2 {
	color: rgb(148, 204, 158);
}
.color-3 {
	color: rgb(130, 207, 226);
}
.color-4 {
	color: rgb(31, 143, 126);
}
.color-5 {
	color: rgb(95, 109, 172);
}
.color-6 {
	color: rgb(55, 45, 145);
}
#presentable-theme-picker {
	position: relative;
	left: 0;
	bottom: 0;
}

#selected-theme {
	position: absolute;
	left: 10px;
	bottom: 10px;
	z-index: 3;
}

#hidden-bar {
	position: absolute;
	left: 0;
	bottom: 0;
	box-shadow: 0 0 16px 0 rgba(0,0,0,0.75);
	background-color: rgb(209, 180, 127);
	width: 410px;
	border-radius: 20px 20px 20px 0;
	z-index: 2;
	transform-origin: 15px 100px;
	transition: transform 0.6s ease-out;
}

#hidden-bar > div {
	box-sizing: border-box;
	display: flex;
	flex-flow: row wrap;
	padding-left: 70px;
	margin-bottom: 10px;
	width: 100%;
}

#hidden-bar > div > div {
	margin: 10px 5px 0 5px;
}

.theme-circle {
	border-radius: 50%;
	border: 3px solid black;
	cursor: pointer;
	width: 40px;
	height: 40px;
}

.invisible {
	transform: scale(0);
}
  
.theme-beige {
	background-color: #bea873;
}
.theme-black {
	background-color: #222222;
}
.theme-blood {
	background-color: #a72034;
}
.theme-league {
	background-color: #54595d;
}
.theme-moon {
	background-color: #042b35;
}
.theme-night {
	background-color: #111111;
}
.theme-serif {
	background-color: #f0f1eb;
}
.theme-simple {
	background-color: #fff;
}
.theme-sky {
	background-color: #b7dde6;
}
.theme-solarized {
	background-color: #fdf6e4;
}
.theme-white {
	background-color: #fff;
}
