#presentable-icon-close {
	position: absolute;
	top: 15px;
	right: 15px;
}


.icon-button {
	border-radius: 1.8rem;
	cursor: pointer;
	display: inline-block;
	font-size: 0.9rem;
	height: 1.8rem;
	line-height: 1.8rem;
	margin: 0 2px;
	position: relative;
	text-align: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	width: 1.8rem;
}

.icon-button.facebook {
	background-color: #3B5998;
}

.icon-button.github {
	background-color: #24292E;
}

/* Circle */
.icon-button span {
	border-radius: 0;
	display: block;
	height: 0;
	left: 50%;
	margin: 0;
	position: absolute;
	top: 50%;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	width: 0;
}

.icon-button:hover.facebook span {
	width: 1.8rem;
	height: 1.8rem;
	border-radius: 1.8rem;
	margin: -0.9rem;
}

.icon-button:hover.github span {
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 1.5rem;
	margin: -0.7rem;
}

.facebook span {
	background-color: white;
}

.github span {
	background-color: white;
}

/* Icons */
.icon-button i {
	background: none;
	height: 1.8rem;
	left: 0;
	line-height: 1.8rem;
	position: absolute;
	top: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	width: 1.8rem;
	z-index: 10;
}

.icon-button .fa-facebook {
	font-size: 1.2rem;
	color: white;
}

.icon-button:hover .fa-facebook {
	color: #3B5998;
}

.icon-button .fa-github {
	font-size: 1.95rem;
	color: white;
}

.icon-button:hover .fa-github {
	color: #24292E;
}

.blue {
	color: #3F8FD6;
}

.purple {
	color: #BD63C5;
}

.red {
	color: rgb(211, 76, 76);
}

.dark {
	color: #1e1e1e;
}

.code_back {
	background: #3f3f3f;
	padding: 4px;
}

.turquoise {
	color: #4EC9B0;
}

.light-blue {
	color: #92CAF4;
}

.flex {
	display: flex;
	flex-flow: row nowrap; 
}

.c1 {
	flex: 1;
}

.c2 {
	flex: 2;
}

.c3 {
	flex: 3;
}

div.reveal {
	font-size: 30px;
}

.controls {
	color:#8b743d;
}

table.centred-table td {
	vertical-align: middle;
	border: none;
}